header{
    display: flex;
    justify-content: space-between;
    width:100%;
    padding:1%;

}

.right-header{
    display: flex;
    align-items: center;
    width: 35vw;
    justify-content: space-evenly
}

.left-header{
    display: flex;
    align-items: center;
    width: 65vw;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

input{
    width:max-content;
    border-radius: 8px;
}

img#logo{
    display: flex;
    width: 100px;
    border-radius: 8px;
}

div#username{
    background-color: black;
    display: flex;
    font-size: 2rem;
    padding: 0.8rem 1.2rem 0.8rem 1.2rem;
}
