.SideBarHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem 1rem 5px;

    color: #FFF3F0;
    background-color: #5A189A;
}

.menuAncore {
    font-size: 25px;
    font-weight: 700;

    text-decoration: none;

    color: #FFF3F0;
}

.SideBarHeader h3 {
    align-self: flex-end;
}

.menuButtons {
    text-decoration: none;
    text-align: end;

    padding: 1rem;

}


.menuButtons a {
    text-decoration: none;
    margin: 5px;
    color: #003566;
    font-weight: 600;
}

.network-logos {
    width: 100%;
    position: fixed;
    bottom: 0;
    color: #3D9CF4;
    margin: 10px 15px 20px 0px;
    
    font-size: 1.25rem;
    text-align: end;
    letter-spacing: 1rem;
}