.vehicle-skeleton{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    border-radius: 8px;
}
.right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    width: 100%;
}
.img-skeleton{
    width: 100%;
}
@media screen and (max-width: 470px) {
    .vehicle-skeleton{
        flex-direction:column
    }
    .left{
        width: 100%;
        object-fit: cover;
    }
    .img-skeleton{
        width: 100% !important;
    }
}
