
.featuresCard{
    padding: 20px;
    background-color: whitesmoke;
    margin-bottom: 5px;
}

.featuresDetails {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    color:blue;
    
}
.featuresDetails p {
    margin-bottom: unset;
    margin-left: 0.5rem;

}

.featuresItem{
    color: black;
    display:flex;
    justify-content: flex-start;
    align-items: center;
        
}
@media screen and (max-width: 768px) {
    .featuresDetails {
        grid-template-columns: 50% 50%;
                
    }
}
    

@media screen and (max-width:420px){
    .featuresDetails {
        grid-template-columns: 100%;
                
    }
}