.bookingBody {
    display: grid;
    color:rgb(40, 14, 90);
    width: 100%;
    height: 100%;
    grid-template-columns:65% 35%;
    grid-template-rows: repeat(3,auto);
    margin:20px 30px ;
}

.forms{
    grid-column : 1/2;
    grid-row: 1/2;
    margin:.2rem;
    padding:.5rem;
}


.bookingDetails {
    grid-column: 2/3 ;
    grid-row: 1/4;
    place-self: center;
    height: 100%;
    margin:20px
}

.horariollegada{
    border: 1px solid blue;
    grid-column: 1/2;
    grid-row:4/5;
    margin:.2rem;
    padding:.5rem;
}



@media screen and (max-width: 768px){
    .bookingBody {
        grid-template-columns:100%;
        grid-template-rows: repeat(4,auto);

    }
    
    .forms{
        grid-row: 1/2;
        margin:.2rem;
        padding:.5rem;
    }
    
    .calendario {
        grid-row: 2/3;
        margin:.2rem;
        padding:.5rem;
        width: 100%;
    }
    
    .bookingDetails {
        grid-column: 1/2;
        grid-row: 4/5 ;
        place-self: center;
        height: 100%;
        margin:20px
    }
    
    .horariollegada{
        grid-row:3/4;

    }
}

@media screen and (max-width:510px){
    .bookingBody {
        grid-template-columns:100%;
        grid-template-rows: repeat(4,auto);

    }
    
    .forms{
        grid-row: 1/2;
        margin:.2rem;
        padding:.5rem;
    }
    
    .calendario {
        grid-row: 2/3;
        margin:.2rem;
        padding:.5rem;
        width: 100%;
    }
    
    .bookingDetails {
        grid-column: 1/2;
        grid-row: 4/5 ;
        place-self: center;
        height: 100%;
        margin:20px
    }
    
    .horariollegada{
        grid-row:3/4;

    }
}