.bookingBody {
    display: grid;
    grid-template-columns: 5fr 1fr ;
    grid-template-rows: 20% 20% 20% 20%;
    color:rgb(40, 14, 90);
    width: 100%
    ;
}
.form {
    grid-column : 1/5;
    grid-row: 1/2;
    background-color: beige;
}
.bookingDetails {
    grid-column: 6/7 ;
    grid-row: 1/5;
        
}
.bookingDetails img{
    size: 20px;
}

.calendario {
    grid-column : 1/5;
    grid-row: 3/4;
    
}
.horariollegada{
    grid-column : 1/5;
    grid-row: 5/6;
    background-color: aliceblue;
    margin: 15px;
    
}
